<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link href="/about.component.css" rel="style/stylesheet" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="/components/about.component.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/img/logo.jpg">

    <title>webstark</title>
  </head>
  <body>
    <div class="powered-by" style="position:fixed;width:auto;left:85%;font-family: poppins;padding:0;top: 350px;color:#000" >
      <p>
      Powered by <span style="color:lightseagreen;font-weight: 600;">WebStark</span>
    </p>
  </div>
    <!-- here will be all the details regarding online platform -->
    <div class="info">
        <!-- email -->
        <div class="col-md-4 info-link">
          <a href="mailto:webstark001@gmail.com">webstark001@gmail.com</a>
        </div>
        <!-- contact -->
        <div class="col-md-4 info-link">
          <a href="tel:9849992104">9849992104</a>
          <a href="tel:9808695299">9808695299</a>
          <a href="tel:9745828202">9745828202</a>
        </div>
  
        <!-- icon -->
        <div class="col-md-4 info-link">
          <a href="http://www.facebook.com/webstark001"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="http://www.instagram.com/webstark001"
          ><i class="fa-brands fa-instagram"></i
        ></a>
          <a href="http://www.twitter.com/webstark001"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </div>
      </div>
    
    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
              <img src="./../img/logo.jpg" alt="Logo" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/components/about.component.html"
                  >About</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/components/templetes.component.html">Templetes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/components/contact.component.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- about -->
      <div class="container about">
        <div data-aos="fade">
        <h1 style="text-align: center">About</h1>
        </div>
        <div class="about-items" >
          <div data-aos="fade-right">
          <div class="col-md-6 about-content-image" >
            <img src="https://www.webstark.com.au/wp-content/uploads/2021/09/1.-About-Web-Stark-Desktop-Transparent.png" alt="contact" />
        </div>
        </div>
        <div class="col-md-6 about-content" >
              <div data-aos="fade-left">
               <p> Web Stark is an Nepal based business. We design and<br /> develop professional custom websites for small businesses,<br /> startups and creative minds worldwide. </br></p>
                <p>
                We pride ourselves on our creativity and ability to create the<br/> best modern and functional websites using the latest high-end<br /> technnology. No job is too big or too small.</p>
                    <p>
                Ask us about web hosting, SEO and digital marketing.
                </p>
                <div class="contact-button" >
                    <a href="/" class="btn btn-info" >Contact</a>
                </div>
            </div>
            </div>            
        </div>
      </div>

         <!-- footer -->
    <footer class="footer" >
        <div class="footer-flex" >
          <div data-aos="fade-right">
            <div class="about">
                <h3>About Us</h3>
                <p>Web Stark designs and develops<br /> professional custom websites for<br /> small businesses, startups and <br />creative minds. Ask us about web<br /> hosting, SEO and digital<br /> marketing.</p>
            </div>
            </div>
            <div data-aos="fade-left">
            <div class="contact">
                <h3>Contact Us</h3>
                <h5>Phone</h5>
                <a href="tel:9849992104" >9849992104</a>
                <h5>Email</h5>
                <a href="mailto:webstark001@gmail.com" >webstark001@gmail.com</a>
            </div>
            </div>
        </div>
        <div class="copy-right" >
          CopyRight <i class="fa-solid fa-copyright"></i> Web Stark 2022. Designed & Developed by <span style="color: white;font-size: 19px;"> Web Stark.</span></p>
      </div>
    </footer>
  

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>