


/* online platform information */
.info {
    display: flex;
    height: 30px;
    /* background-color: orange; */
}

.info-link {
    text-align: center;
    font-size: 17px;
}

.info-link a {
    text-decoration: none;
    color: #000;
    /* border-right: 2px #ddd solid; */
    margin-right: 5%;
}

/* navbar division */

.navbar-brand {
    width: 80px;
}
.navbar-brand img {
    width: 100%;
    /* height: 80px; */
}

.navbar-nav {
    margin-left: 60%;
}

.nav-link {
    position: relative;
    margin-left: 40px;
    /* display: none; */
    
}

.nav-link:after {
    content: "";
    position: absolute;
    background-color: silver;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: .4s;
    /* margin: left -5px; */
}


.nav-link:hover::after {
    width: 100%;
}

/* contact */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: none;
    border: none;
}

.email-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
    padding: 0;
    align-items: center;
}

.contact-card {
    width: 60%;
    margin-top: 50px;
}

.contact-form {
    display: flex;
    box-shadow: 8px 8px 18px;
    padding: 0;
    border-radius: 30px ;
}

.mail-form {
    padding: 20px;
}



.form-control {
    width: 100%;
}

.mail-form-items {
    display: flex;
}


.form-mail-item {
    width: 100%;
    margin: 15px;
    padding-left: 10px;
}

.email-detail {
    border-radius: 0 30px 30px 0;
    padding: 20px;
    height: 60vh;
    background-color: lightseagreen;
    color: #fdfdfd;
}

.detail-link-item  {
    /* inline-size: 5px; */
    text-decoration: none;
    color: #fdfdfd;
    display: flex;
    flex-direction: column;

}

.detail-link-item a {
    text-decoration: none;
    color: #fdfdfd;
    margin: 19px 10px;
}



/* footer */
.footer {
    width: 100%;
    height: 60vh;
    background-color: #141414!important;
    margin-top: 90px;
}

.footer-flex {
    color: #fdfdfd;
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.about , .contact {
    margin-top: 90px;
}

.contact a {
    text-decoration: none;
    color: #fdfdfd;
}

.copy-right {
    text-align: center;
    color: #d0d0d0;
    margin-top: 50px;
}

@media only screen and (max-width:560px) {
    .mail-form-items {
        display: flex;
        flex-direction: column;
    }
}